<h1>Inset</h1>

<div class="insets-wrapper">

  <div class="inset inset__square inset__square--xs">XS</div>

  <div class="inset inset__square inset__square--s">S</div>

  <div class="inset inset__square inset__square--xl">XL</div>

</div>

<h1>Inset squish</h1>

<div class="insets-wrapper">

  <div class="inset inset__squish inset__squish--s">S</div>

  <div class="inset inset__squish inset__squish--l">L</div>

</div>

<h1>Inset stretch</h1>

<div class="inset inset__stretch inset__stretch--m">M</div>

<h1>Stack</h1>

<div class="stack stack--xl">XL</div>

<h1>Inline</h1>

<div class="inline inline--m">M</div>
